:root {
  --jet-black: #282828;
  --main-bgcolor: #f3f3f3;
  --lincoln-green: #12540a;
  --subheader-green: #025600f2;
  --green-default: #25c62e;
  --green-hover: #1c9b25;
  --default-blue: #0169c0;
  --blue-hover: #217bc7;
  --dark-gray: #2d2d2d;
  --input-border: #cccccc;
  --header-underlines: #61a2e0;
  --light-text: #d6d9dd;
  --dark-text: #2f2f2f;
  --max-content-width: 1150px;
  --last-section-width: 460px;
}

.enroll fieldset {
  border: none;
}

.enroll ul {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.full-width > .flex-row {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 3rem 1rem;
}

.enroll {
  background-color: var(--main-bgcolor);
}

.enroll .flex-col > *:last-child {
  margin-bottom: 0;
}

.enroll section.enroll-2 {
  background-image: url(/images/bg/blue-computerdudde.jpeg);
  background-size: cover;
}

.enroll section.enroll-2 .flex-row {
  max-width: var(--last-section-width);
}

.enroll section.enroll-2 :is(h2, h3, p) {
  text-align: center;
}

.enroll section.enroll-2 h2 {
  margin-bottom: 1rem;
  color: white;
}

.enroll section.enroll-2 h3 {
  margin-bottom: 1rem;
  color: white;
  font-size: 22px;
}

.enroll section.enroll-2 p {
  color: var(--light-text);
  font-size: 18px;
}

.enroll section.enroll-2 .bottom p {
  color: white;
}

.enroll section.enroll-2 .bottom .social {
  text-align: center;
  margin-bottom: 0.5rem;
}

.enroll section.enroll-2 .bottom p:first-of-type {
  background-color: white;
  color: var(--dark-text);
  padding: 0.5rem 4.7rem;
}

.enroll section.enroll-2 [type="submit"] {
  width: 100%;
  background-color: var(--default-blue);
}

.enroll section.enroll-2 [type="submit"]:hover {
  background-color: var(--blue-hover);
}

/* Start Social */
a[title="Facebook"] {
  background: url(/images/icons/facebook.png);
  background-repeat: no-repeat;
  width: 111px;
  height: 33px;
  display: inline-block;
}

a[title="Twitter"] {
  width: 90px;
  height: 33px;
  background-repeat: no-repeat;
  background-image: url(/images/icons/twitter.png);
  display: inline-block;
}

a[title="Facebook"] span,
a[title="Twitter"] span {
  position: absolute;
  visibility: hidden;
}

[title^="Techie Youth privacy policy"] {
  color: var(--light-text);
  text-align: center;
  display: block;
}
/* End Social */

/* Start dark background section */

.enroll section.dark {
  background-color: var(--dark-gray);
}

.enroll section.dark :is(h2, p) {
  color: var(--light-text);
}

.enroll section.dark > div:last-child iframe {
  margin-bottom: 1rem;
}

/* End dark background section */

.enroll section h2 {
  font-size: 32px;
  margin-top: 0;
}

.enroll section p {
  font-size: 20px;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.enroll iframe {
  width: 100%;
}

@supports (aspect-ratio: 1 / 1) {
  .enroll iframe {
    aspect-ratio: 105 / 59;
    height: auto;
  }
}

.enroll :is(h1) {
  font-family: "Alfa Slab One", Helvetica, sans-serif !important;
}

.enroll img {
  max-width: 110px;
  height: auto;
  padding: 0;
}

.enroll header {
  padding: 1rem 0 0;
}

.enroll header > * {
  text-align: center;
  margin: 0 auto;
  display: block;
  position: relative;
}

.enroll header img {
  padding-bottom: 5px;
}

.enroll header h1 {
  font-size: 44px;
  color: var(--jet-black);
  letter-spacing: 1px;
}

.enroll header h2 {
  margin-top: 10px;
  padding: 10px 0;
}

.enroll header h2::before,
.enroll header h2::after {
  content: "";
  position: absolute;
  left: 20%;
  right: 20%;
  border-bottom: 1px solid var(--header-underlines);
}

.enroll header h2::before {
  top: 0;
}

.enroll header h2::after {
  bottom: 0;
}

.enroll header h2 {
  font-size: 42px;
  color: var(--subheader-green);
}

.enroll #layout {
  width: var(--max-content-width);
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

[title^="Already signed up"] {
  padding: 1rem;
  text-align: center;
  font-size: 16px;
  display: block;
}

.enroll-2 [title^="Already signed up"] {
  color: var(--light-text);
}

.enroll li.even,
.enroll li.odd {
  font-size: 15px;
  list-style: none;
  margin-left: 0;
  background: url(/images/icons/check.png);
  background-color: transparent;
  background-size: 22px;
  background-repeat: no-repeat;
  margin-bottom: 0.6rem;
}

.enroll li.even::before,
.enroll li.odd::before {
  content: "";
  padding-right: 1.8rem;
  display: inline-block;
}

/* Start form styles */

.enroll [type="email"] {
  border-radius: 5px !important;
  border: 1px solid #0003;
  width: 100%;
  font-size: 16px;
  padding: 12px 18px;
  margin-bottom: 0.8rem;
}

.enroll [type="submit"].submit {
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  font-family: Abel, Helvetica, sans-serif !important;
  cursor: pointer;
  transition: 0.3s background-color;
  background-color: var(--green-default);
  padding: 10px 25px;
  border: 1px solid hsl(0deg 0% 0% / 10%);
  box-shadow: 0 1px 5px rgb(0 0 0 / 40%);
  width: 94%;
  margin: 0 auto;
  display: block;
  -webkit-appearance: none;
  appearance: none;
}

.enroll [type="submit"].submit:hover {
  background-color: var(--green-hover);
}

/* End form styles */

/* Start flex row */

.flex-row {
  display: flex;
  gap: 0 2.65rem;
  position: relative;
  align-items: center;
  padding: 0 1rem;
}

.flex-row.with-separator {
  padding-bottom: 3rem;
}

.flex-row.with-separator::after {
  position: absolute;
  content: "";
  width: 80%;
  border-bottom: 1px solid var(--header-underlines);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.flex-col-8-12 {
  flex: calc(8 / 12);
}

.flex-col-4-12 {
  flex: calc(4 / 12);
}

.flex-col-6-12,
.flex-col-12-12 {
  flex: 1;
}

@supports (aspect-ratio: 1 / 1) {
  .flex-row.enroll-1 iframe {
    aspect-ratio: 716 / 403;
    height: auto;
  }
}

.flex-row.enroll-1 h3 {
  position: relative;
  color: var(--dark-gray);
  font-size: 24px;
  padding-bottom: 10px;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.flex-row.enroll-1 h3::after {
  content: "";
  position: absolute;
  left: 30px;
  right: 30px;
  border-bottom: 1px solid var(--header-underlines);
  bottom: 0;
}

.flex-row.enroll-1 p {
  color: var(--dark-text);
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  margin: 0 0 0.35rem;
}

/* End flex row */

@media screen and (max-width: 900px) {
  .flex-row {
    display: block;
  }

  .enroll header h1 {
    font-size: 40px;
  }

  .enroll header h2 {
    font-size: 30px;
  }

  .full-width:not(:last-of-type) > .flex-row {
    padding: 2rem 1rem 3rem;
  }

  .flex-row.with-separator {
    padding-bottom: 2rem;
  }

  .flex-row.with-separator > .flex-col:first-child {
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .enroll [type="submit"].submit {
    font-size: 26px;
  }

  .enroll section.enroll-2 .bottom p:first-of-type {
    padding: 0.5rem 1rem;
  }

  .enroll section h2 {
    text-align: center;
    font-size: 24px;
  }

  .enroll section p {
    font-size: 17px;
  }

  .enroll header h1 {
    font-size: 32px;
  }

  .enroll header h2 {
    font-size: 23px;
  }

  .flex-row.enroll-1 h3 {
    font-size: 21px;
  }
}
